.DS_Store
.idea
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/schema.rb
config/database.rb
.*.sw*
!.gitkeep
logs/*
node_modules
dist
.tmp
.sass-cache
app/bower_components

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log